{% extends 'main/temp.html.twig' %}
{% block title %} Strona główna {% endblock %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
    $('#modalstaf').modal('show');
    $('.modal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
});
</script>
{{test}}

{% if login_error %}
<div class="alert-danger">Nie udalo sie zalogowac</div>
{% endif %}


{% for product in products %}

  <div class="jumbotron " style="background-color:#c63f17;color:white">

    <h1 class="display-4"> {{product.name}}</h1>
    <p class="lead">Wiek od: {{product.age}} | Liczba graczy: {{product.player}} |</p>
    <hr class="my-4">
    <p> <b>Cena: {{product.price}}</b>  </p>
    {% if app.request.cookies.get('token') == 'Admin Admin'  or app.request.cookies.get('token') == 'Dealer Dealer' %}<p> <a href="/product/delete/{{product.id}}" class="btn btn-danger" style="background-color: #230101"> usun </a>
  {% endif %}<a href="/product/{{product.id}}" class="btn btn-success" style="background-color: #230101"> Zobacz </a>
      {% if app.request.cookies.get('token') == 'Admin Admin'  or app.request.cookies.get('token') == 'Dealer Dealer' %} <a href="product/edit/{{product.id}}" class="btn btn-primary" stlye="background-color:#230101"> Edytuj</a>
     {% endif %}</p>
  </div>

{% endfor %}


{% endblock %}

{% block filters %}


<form >
<div class="input-group mb-3">
  <div class="input-group-prepend">
    </div>

  <input type="text" class="form-control" id="product_name" placeholder="Nazwa produktu" aria-label="Example text with button addon" aria-describedby="button-addon1">

</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    </div>
  <input type="number" min="0" max="9999" step=".01"  class="form-control" placeholder="Cena"  aria-describedby="button-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    </div>
  <input type="number" class="form-control" min="0" max="30" placeholder="Liczba graczy" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
  </div>
  <input type="number" class="form-control" min="0" max="18" placeholder="Ograniczenie wiekowe" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    </div>
  <input type="text text-light" class="form-control" placeholder="Nazwa produktu" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>
<div class="input-group mb-3">

<button class="btn " type="button" id="button-addon1">Szukaj</button>

</div>
</div>
</form>



{% endblock %}
