{% extends 'main/temp.html.twig' %}
{% block title %} Strona główna {% endblock %}
{% block content %}

{{test}}

{% for product in products %}

  <div class="jumbotron " style="background-color:#c63f17;color:white">

    <h1 class="display-4"> {{product.name}}</h1>
    <p class="lead">Wiek od: {{product.age}} | Liczba graczy: {{product.player}} |   </p>
    <hr class="my-4">
    <p> <b>Cena: {{product.price}}</b>  </p>
    <p> Opis: {{product.descrioption}}</p>
    <p> <a href="/product/delete/{{product.id}}" class="btn btn-danger" > usun </a></p>
  </div>

{% endfor %}


{% endblock %}

{% block filters %}



{% endblock %}
