{% extends "login/temp.html.twig"%}
{% block title %} Produkt {% endblock %}
{% block content %}

<div class="jumbotron" style="width:100%; height:100%;background-color:#c63f17;color:white;">
<div style="background-color:#4e342e; color:white;"><center><h1>{{product.name}} </h1></center></div>
</hr>
<div class="container">
<div class="jumbotron row" style="width:100%; height:100%; background-color:#8b6b61; color:black;">
  {% if product.id == 91 %}
  <img src="https://res.cloudinary.com/hxvlob7m3/image/upload/v1587365534/monopoly_vbx9rv.jpg" class="img-fluid" alt="monopoly"/>
</br>{% elseif product.id == 81 %}
<img src="https://res.cloudinary.com/hxvlob7m3/image/upload/v1587365766/small-world_oer0oz.jpg" class="img-fluid" alt="monopoly"/>
</br>{% elseif product.id == 101 %}
<img src="https://res.cloudinary.com/hxvlob7m3/image/upload/v1587365804/civilization_lbnmnw.jpg" class="img-fluid" alt="monopoly"/>
</br>{% elseif product.id == 111 %}
<img src="https://res.cloudinary.com/hxvlob7m3/image/upload/v1587365813/uno_ohz0g1.jpg" class="img-fluid" alt="monopoly"/>
</br>{% endif %}
  <b> Cena: {{product.price}} </b></br></br>
  <b> Minimalny wiek gracza: {{product.age}} </b></br></br>
  <b> Producent: {{product.company}} </b> </br></br>
  <form action="{{path("app_product_pushbasket",{id: product.id}) }}" method="POST">
  <div class="form-group">
    <label for="count"> Ilosc: </label>
    <input name="count" id="count" class="form-control" type="number" min="1" max="999" step="1" value="1"/>
    <input type="submit" class="form-control btn btn-success" value="Kup" />
  </div>
  <a href="{{path('app_main_controller')}}" class="btn btn-primary">Cofnij</a>
  </form>
  </div>
  <div class="jumbotron row" style=" width:100%; height:100%; background-color:#8b6b61; color:black;">
    <h3> Opis: </h3></br>
    {{product.descrioption}}
  </div>


</div>
{% endblock %}

{% block filters %}

{% endblock %}
